.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 11;
  width: 720px;
  max-width: calc(100vw - 40px);
  background-color: var(--background);
  border-radius: 40px;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: inherit;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
}
