.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100vh - 240px);
  margin: 0;
  padding: 0 8px 0 0;
  overflow-y: auto;
  list-style: none;
}

@media (width <= 900px) {
  .list {
    max-height: none;
    padding-right: 0;
  }
}
